# --- Arquivos de Compilação e Build (Maven) ---
target/
*.class
*.jar
*.war
*.ear

# --- Arquivos de Dados e Saída (IMPORTANTE) ---

*.csv
*.zip
downloads/

# --- Arquivos de IDE (VS Code, Eclipse) ---
.vscode/
.settings/
.classpath
.project
.idea/
*.iml

# --- Logs e Temporários ---
*.log
.DS_Store
